body {
    /* background-color: rgba(135, 206, 235); */
    background: rgba(195, 231, 245);
}

.well {
    background: rgba(225, 243, 250);
}

h1, h2, h3 {
    font-family: "Special Elite";
}

#edit_buttion {
    float: right;
}

.availabilityCell {
	border-style: solid;
	border-width: 1px;
	border-color: #777a7f;
	background-color: #81c48e;
}

.availability-th {
	border-style: solid;
	border-width: 1px;
	border-color: #777a7f;
	/*width: 70px;*/
	padding: 25px;
}

.availability-time-th {
	border-style: solid;
	border-width: 1px;
	border-color: #777a7f;
	padding: 5px;
	width: 12%;
}

#notFree {
	background-color: #ffffff;
}

.schedule {
	padding-top: 10px;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	height: 500px;
	width: 100%;
	overflow-y: auto;
}

.star-rating {
	display: inline;
}
h4, h6 {
	display: inline;
}

img {
	width: 300px;
	height: 200px;

}

.darkBox {
	background-color: #000000;
	opacity: 0.3;
	width:300px;
	height: 200px;
	position: absolute;
}
.activityInfo {
	color: white;
	position: absolute;
	padding-top: 100px;
	padding-left: 10px;
}

.activityBox {
	padding: 10px;
	display: inline-block;
}

.activityBoxes {
	border-style: solid;
	border-width: 0px;
	border-color: black;
	width: 100%;
	height: 220px;
	overflow: auto;
	padding: ;
}
