<head>
    <title>B-Active - Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="container-fluid well">
    <h1>Events</h1>
    <div class = "eventBoxes" *ngIf="events">
        <div class="eventBox" *ngFor="let event of events">
            <div class="darkBox" width="300" height="200">
            </div>

            <div class="eventInfo">
                <div style="font-size: 18pt;">{{ event.activity }}</div><br>
                Begins: {{ event.startTime }}<br>
                Ends: {{ event.endTime }}<br>
                Location: {{ event.location }}<br>
                Status: {{ event.status }}<br>
            </div>

            <img src={{getActivityUrl(event.activity)}} width="300" height="200">
        </div>
    </div>

    <div *ngIf="events">
        <ul>
            <li *ngFor="let event of events">
                {{ event.activity }}
            </li>
        </ul>
    </div>
</div>
