<head>
    <title>B-Active - Edit Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-fluid well">

<div *ngIf="user">
    <h1>Edit Profile</h1>
    <button class="btn btn-default" (click)="updateProfile()"> Save </button>
    <button class="btn btn-default" (click)="updateProfileAndReturn()"> Return to Profile </button>
</div>

<div *ngIf="user">
<h3>Name:
    <span>
        <input type="text" class="form-control nameBox" [(ngModel)]="user.name" name="name">
    </span>
</h3>
<h3>Email: {{ user.email }} </h3>
</div>

<div class="user-rating" *ngIf="user">
    <h4>Rating: </h4>
    <div class="star-rating" *ngFor="let rating of calculateRating()">
        <span class="fa fa-star"></span>
    </div>
    <h6> ({{user.rating.numRatings}})</h6>
</div>

</div>
<div class="container-fluid well">

<h2>Activities</h2>
<div *ngIf="user">
    <table>
        <thead>
            <tr>
                <th class="activityLevel">Activity</th>
                <th class="activityLevel">Skill Level</th>
                <th class="activityLevel">Interest Level</th>
            </tr>
        </thead>
            <tr *ngFor="let activity of user.activities; let i = index">
                <td class="activityLevel"><select [(ngModel)]="user.activities[i].name">
                	<option *ngFor="let x1 of possibleActivities" [selected]="user.activities[i].name == x1">
                	{{x1}}</option>
                </select></td>
                <td class="activityLevel"><select [(ngModel)]="activity.skill">
                	<option *ngFor="let x of ratingScale" [selected]="activity.skill == x">
                	{{x}}</option>
                </select></td>
                <td class="activityLevel"><select [(ngModel)]="activity.interest">
                	<option *ngFor="let x of ratingScale" [selected]="activity.interest == x">
                	{{x}}</option>
                </select></td>
                <td class="activityLevel"><button (click)="deleteActivity(activity.name)"> Delete </button></td>
            </tr>
    </table>

    <button (click)="addActivity()"> Add Activity </button>
</div>

</div>
<div class="container-fluid well">

<h2>Availability</h2>
<div class="schedule" *ngIf="user">
    <table style="border: 1px solid #777a7f; border-spacing: 0px; width:100%;" cellspacing="0" >
        <thead>
            <tr bgcolor="#5e99d1">
                <th class="availability-th"></th>
                <th class="availability-th">Monday</th>
                <th class="availability-th">Tuesday</th>
                <th class="availability-th">Wednesday</th>
                <th class="availability-th">Thursday</th>
                <th class="availability-th">Friday</th>
                <th class="availability-th">Saturday</th>
                <th class="availability-th">Sunday</th>
            </tr>
        </thead>
        <tr *ngFor="let time of user.availability[0]; let i = index;">
            <th class="availability-time-th" bgcolor="#5e99d1">
                {{ this.tableHeadings[i] }}
            </th>
            <ng-container *ngFor="let day of user.availability; let j = index;">
                <td class="availabilityCell">
                    <div *ngIf="user.availability[j][i]">
                        <label><input type="checkbox" checked (click)="handleCheckClick(j, i)"></label>
                    </div>
                    <div *ngIf="!user.availability[j][i]">
                        <label><input type="checkbox" (click)="handleCheckClick(j, i)" ></label>
                    </div>
                </td>
            </ng-container>
        </tr>
    </table>
</div>
