h1, h2 {
    font-family: 'Special Elite';
}

button {
    font-family: "Special Elite";
    margin: 5px;
}

.well {
    background: rgba(225, 243, 250);
}

.table {
    background: white;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(195, 230, 243);
    font-family: 'Special Elite';
}

th {
    background: rgba(210, 237, 247);
}

th, td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;
}
/*
table {
    border-collapse: collapse;
    width: 100%;
    background: rgba(239, 239, 245);
}

th, td {
    text-align: left;
    padding: 8px;
}
*/

tr:nth-child(even) {background-color: #f2f2f2;}
