<!DOCTYPE html>
<html>
    <head>
        <title>Upcoming Events </title>
        <link rel="stylesheet" href="=/stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <style>

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>

    <body>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/events">Events</a>
      <a href="/match">Matches</a>
      <a href="/profile">Profile</a>
      <a href="/login">Logout</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; bActive</span>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>

    <h1>Upcoming Events</h1>
    <table style="text-align: center; border: 1px solid #000000; font-size: 30px;">
    <thead style="background: #0B6FA4; font-weight: bold;">
    <tr>
    <th>Activity</th>
    <th>Date</th>
    <th>Time</th>
    <th>Meetup Location</th>
    </tr>
    </thead>
    <% for (let i = 0; i < events.length; i++) { %>
        <tbody>
        <tr>
        <td><%- events[i].activity %></td><td><%- events[i].day %></td><td><%- events[i].time %></td><td><%- events[i].location %></td></tr>
        <tr style="background: #D0E4F5;">
        <td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr>
        <td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr style="background: #D0E4F5;">
        <td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr>
        <td>-</td><td>-</td><td>-</td><td>-</td></tr>
        </tbody>
    <% } %>
    </tr>
    </table>
    </body>
</html>

