<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<title>Login</title>
</head>
<body>
	<div><h1>Login</h1></div>
	<div>
		<% if (err !== null && err != undefined) { %>
			<div>
				<p style="color:red">
	                <%= err %>
	            </p>
			</div>
		<% } %>
		<form action="/login" method="POST">
			<div>
				<label for="email">Username</label>
				<input type="text" name="email" id="email">
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
			</div>
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>
