<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<title>Match</title>
</head>
<body>
	<h1>Matches</h1>
    <table style="text-align: center; border: 1px solid #000000; font-size: 30px;">
    <thead style="background: #0B6FA4; font-weight: bold;">
    <tr>
    <th>Accept?</th>
    <th>Activity</th>
    <th>Date</th>
    <th>Time</th>
    <th>Meetup Location</th>
    </thead>
    <% for (let i = 0; i < matches.length; i++) { %>
    <!-- match["event"], match["score"], match["time"] -->
        <tbody>
        <tr style="background: #D0E4F5;">
        <td><label class="container">
  <input type="checkbox">
  <span class="checkmark"></span>
</label></td><td><%- matches[i]["event"] %></td><td><%- matches[i]["unix_time"] %></td><td><%- matches[i]["time"] %></td><td><%- matches[i]["location"] %></td></tr>
		</tbody>
    <% } %>
    </tr>
    </table>
</body>
</html>


